body {
    background-image: url("https://i.pinimg.com/originals/4d/6e/08/4d6e0801d329a8580b0efadf74ac6c3a.jpg");
    overflow: hidden;
    
}

.moon{
    font-family: 'Fredoka One', cursive;
font-family: 'Press Start 2P', cursive;
color: white;
}

section{
    justify-content: center;
}
.div1{
    width: 500px;
    height: 400px;
    margin: 20px;
    display: block;
    float: left;
}

.div2{
    width: 650px;
    height: 400px;
    margin: 20px;
    /* border: 2px solid white; */
   
    display: block;
    float: right;

    
}

.moonimg {
    float: left;
}

h3{
    font-family: 'Fredoka One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Teko', sans-serif;
}

.comingsoon{
    color: white;
    font-family: 'Fredoka One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Teko', sans-serif;
width: 100vw;
text-align: left;
font-size: 40px;

}

p{
    font-family: 'Fredoka One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Teko', sans-serif;
color: white;
width: 100vw;
text-align: left;
font-size: 20px;
}