body {
    background-image: url("https://i.pinimg.com/originals/4d/6e/08/4d6e0801d329a8580b0efadf74ac6c3a.jpg");
    
}

.moon{
    font-family: 'Fredoka One', cursive;
font-family: 'Press Start 2P', cursive;
color: white;
}

.div1{
    width: 200px;
    height: 400px;
    background-color: white;
}

.div2{
    width: 200px;
    height: 400px;
    background-color: white;
}