body {
    background-image: url("https://i.pinimg.com/originals/4d/6e/08/4d6e0801d329a8580b0efadf74ac6c3a.jpg");
    
}

.moon{
    font-family: 'Fredoka One', cursive;
font-family: 'Press Start 2P', cursive;
color: white;
}

section{
    justify-content: center;
}
.div1{
    width: 200px;
    height: 400px;
    background-color: white;
    margin: 20px;
    display: block;
    float: left;
}

.div2{
    width: 200px;
    height: 400px;
    margin: 20px;
    border: 2px solid white;
   
    display: block;
    float: right;

    
}